.App {
  text-align: center;
}


button{
  margin-bottom: 10px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  font-weight: 700;
  width:200px;
	height:270px;
	border-radius:10px;
	border:solid 1px;
  margin-bottom: 10px;
  
  
  
}
#mainContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#homeContainer{
  position: relative;
  display: block;
  margin:auto;
  margin-top: 150px;
  border: 10px;
  width: 35%;
  border-style: groove;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
